@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply h-full w-full;
    font-family: "Source Sans Pro, sans-serif";
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import "../theme/styles.css";

.app {
  @apply flex relative;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
