@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full w-full;
}

.app {
  @apply flex relative;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
